include ../components/logo.pug

doctype html
html(lang='en')
	include ../common/head.pug
	body
		.page
			.page-overlay

			include ../components/menu-panel.pug
			include ../components/header.pug

			.content
				select(multiple, data-live-search="true" title="hi there")
					option Mustard
					option Ketchup
					option Barbecue