include ../components/logo.pug

doctype html
html(lang='en')
	include ../common/head.pug
	body
		.page
			.page-overlay

			include ../components/menu-panel.pug
			include ../components/header.pug

			.content
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum
				p Lorem ipsum