include ../components/logo.pug

doctype html
html(lang='en')
	include ../common/head.pug
	body
		.page
			.page-overlay

			include ../components/menu-panel.pug
			include ../components/header.pug

			.content
				.control-panel
					h1.title Dashboard
					.r-bar
						select.selectpicker(multiple)
							option G9
							option(selected="selected") 30
							option E5
							option 9P
						.temp-wrap
							select.selectpicker(title="Last 24 Hours")
								option Last 24 Hours
								option Last 12 Hours
								option Last 8 Hours
							ul.btn-tools
								li.active
									a(href="#") Day
								li
									a(href="#") Route
								li
									a(href="#") Region
							button.dark-grey-btn.customise
								svg
									use(xlink:href='#tuning')
								| Customise
							select.selectpicker(title="My Queries")
								option My New Sales Report
								option My New Report
							button.dark-grey-btn.export
								svg
									use(xlink:href='#exit')
								| Export
							button.blue-btn.upload
								svg
									use(xlink:href='#upload')
								| Upload RAW Data
				.boxes-wrap
					.box
						.ttl-row
							h4.sub-ttl Growth
							.tools-box
								a(href="#")
									svg
										use(xlink:href='#settings')
								a(href="#")
									svg
										use(xlink:href='#fullscreen')
						.d3chart.bar-chart.js-bar-chart
						.d3chart.bar-chart.js-bar-chart2
					.box
						.ttl-row
							h4.sub-ttl Passenger
							ul.btn-tools
								li.active
									a(href="#") Day
								li
									a(href="#") Route
								li
									a(href="#") Region
							.tools-box
								a(href="#")
									svg
										use(xlink:href='#settings')
								a(href="#")
									svg
										use(xlink:href='#fullscreen')
					.box
						.ttl-row
							h4.sub-ttl Passenger
							ul.btn-tools
								li.active
									a(href="#") Day
								li
									a(href="#") Route
								li
									a(href="#") Region
							.tools-box
								a(href="#")
									svg
										use(xlink:href='#settings')
								a(href="#")
									svg
										use(xlink:href='#fullscreen')


				.d3chart.bar-chart.js-bar-chart