include ../components/logo.pug

doctype html
html(lang='en')
	include ../common/head.pug
	body
		.login-page
			.login-box
				.login-header
					+logo('aero', 'REV')
				.login-content
					form(action="#")
						fieldset
							.main-login-content
								h1 Create New Password?
								.input-row
									input(type="password", placeholder="Enter new password")
								.input-row
									input(type="password", placeholder="Repeat new password")
								.input-row
									a(href="#" class="btn btn-primary") update