.bar-chart
	overflow: hidden
	height: 144px

	line
		display: none
	text
		fill: $dark-grey-blue
		font-size: 12px
	.domain
		stroke: alpha(#435464, 0.1)
		stroke-width:2

.line-chart
	height:144px

	.domain
		stroke: alpha(#435464, 0.1)
		stroke-width:2

	.tick
		line
			display: none

	text
		fill: $dark-grey-blue
		font-size: 12px

	.c3-line
		stroke-width:2