.control-panel
	display: flex
	justify-content: space-between
	background: #ffffff
	padding: 21px 25px
	+below($desktop)
		display: block
		padding: 7px 20px
	+below($mobile)
		margin: 0 0 20px

	.title
		font-size: 30px
		color: #344252
		+below($desktop)
			text-align: center
			margin-bottom: 30px

	.r-bar
		display: flex
		max-width: 85%
		justify-content: flex-end
		align-items: center
		+below($desktop)
			max-width: 100%
			justify-content: center
			flex-wrap: wrap

		.temp-wrap
			display: flex
			align-items: center
			flex-wrap: wrap
