.control-panel
	display: flex
	justify-content: space-between
	background: #ffffff
	padding: 21px 25px
	position: relative
	z-index:20

	+below($desktop)
		display: block
		padding: 7px 0 20px

	.title
		font-size: 30px
		color: #344252
		+below($desktop)
			text-align: center
			margin-bottom: 30px

.r-bar
	display: flex
	max-width: 85%
	justify-content: flex-end
	align-items: center

	+below($desktop)
		width:100%
		display: block
		max-width: 9999px
		text-align: center
		&>*
			display: inline-block
			vertical-align: top
			margin-bottom: 10px

		&>.bootstrap-select
			//margin: 0

			&>.dropdown-menu[role="combobox"]
				min-width:100%

	.temp-wrap
		display: flex
		align-items: center
		flex-wrap: wrap

		+below($desktop)
		//	display: block
			justify-content: space-around
			padding: 0 50px
			&>*
				margin-bottom: 10px
		+below($medium)
			padding: 0
			margin: 0 10px 0 0
		+below($mobile)
			justify-content: space-between



.content-panel
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 30px

	h3
		.content &
			margin-bottom: 0

	+below($desktop)
		display: block
		text-align: center

		.btn-tools
			display: inline-block
			margin: 0 0 15px

