.control-panel
	display: flex
	justify-content: space-between
	background: #ffffff
	padding: 21px 20px
	margin: -25px -25px 0
	+below($desktop)
		display: block
		margin: 0 -25px

	.title
		font-family: $roboto-light
		font-size: 30px
		color: #344252
		+below($desktop)
			text-align: center

	.r-bar
		display: flex
		max-width: 85%
		justify-content: flex-end
		align-items: center