.header
	position: relative
	z-index: 20

	+below($desktop)
		position: relative
		padding: 0 0 65px
		background: #fff

	.header-wrapper
		background: #435464
		display: flex
		color: $white
		justify-content: space-between

		+below($desktop)
			padding: 0 0 0 70px

	.l-side
	.r-side
		display: flex

	.r-side
		align-items: center
		width:70%

		+below($desktop)
			width: auto

.search-form
	background: alpha($white, 0.89)
	border-radius: 3px
	padding: 0 12px
	width:80%
	box-sizing: border-box

	+below($desktop)
		position: absolute
		left:20px
		bottom: 12px
		width:calc(100% - 40px)
		box-shadow: inset 0 1px 1px 0 rgba(182, 182, 182, 0.5)
		border: solid 1px rgba(151, 151, 151, 0.32)

	input[type="text"]
		padding: 12px 0
		font-size: 14px
		margin: 0
		background: none
		border:0
		width: calc(100% - 22px)
		outline: none

	button[type="submit"]
		width:19px
		height:19px
		margin: 0
		padding: 0
		overflow: visible
		background: none
		border: 0
		cursor: pointer
		position: relative
		top:5px

		svg
			width:19px
			height:19px

.header-menu
	ul
		display: flex
		align-self: center
		margin: 0 0 0 36px

		+below($desktop)
			margin: 0

		li
			position: relative
			padding: 0 24px
			align-self: center

			+below($desktop)
				padding: 0 6px

			&:before
				content:""
				width: 1px
				height: 50px
				opacity: 0.4
				position: absolute
				top: -15px
				left:0
				background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff 51%, rgba(255, 255, 255, 0))

				+below($desktop)
					display: none

			&:first-child
				svg
					width:28px
					height:21px

					+below($desktop)
						width:20px
						height: 15px

			&:nth-child(2)
				svg
					width:24px
					height:24px

				+below($desktop)
					display: none

			&:nth-child(3)
				svg
					display: none

					+below($desktop)
						display: block
						width:16px
						height:18px
						margin: -11px 0 0

				a
					color: $white
					font-size: 14px
					position: relative
					padding: 0 15px 0 0
					display: block

					+below($desktop)
						text-indent:-9999px
						width:21px
						height:28px
						padding: 0

					&:after
						top: 50%
						right: 0
						border: solid transparent
						content: " "
						height: 0
						width: 0
						position: absolute
						pointer-events: none
						border-color: rgba(170, 178, 183, 0)
						border-top-color: #aab2b7
						border-width: 4px
						margin: -2px 0 0 -4px

						+below($desktop)
							display: none

			svg
				fill: $white
				display: block

		.unread-messages
			position: absolute
			top: -10px
			right: 15px
			color: $white
			background: $red
			font-size: 10px
			font-weight: bold
			padding: 1px 6px
			border-radius:7.5px

			+below($desktop)
				top: -12px
				right: 5px