.popup.js-popup#create-query
	.popup-header
		strong Create Query
		span.close-popup.js-popup-closer
			svg
				use(xlink:href='#close')
	.popup-content
		.create-query-wrap
			.create-query-header
				label(for="query-name") Query Name
				input(type="text" id="query-name")
			.cols
				.col
					h3.not-indent Schedule
					span.note Report Generation Frequency
					.checkbox-wrap
						.row
							input(type="checkbox", checked="checked", id="daily2")
							label(for="daily2") Daily
						.row
							input(type="checkbox", id="weekly2")
							label(for="weekly2") Weekly
						.row
							input(type="checkbox", id="monthly2")
							label(for="monthly2") Monthly
						.row
							input(type="checkbox", id="custom-date2" class="custom-date")
							label(for="custom-date2") Custom Date
					.datepicker-row.inactive
						div
							label(for="from-date2" class="input-label") From
							input(type="text", id="from-date2", class="datepicker" disabled)
						div
							label(for="to-date2" class="input-label") To
							input(type="text", id="to-date2", class="datepicker" disabled)
				.col
					h3.not-indent Recepients
					.recepients-holder
						label(for="recepients2" class="input-label") Email Address
						input(type="text", id="recepients2")
						a.add(href="#")
							svg
								use(xlink:href='#add')
					.recepients-list
						.item
							span shiran@isa.ae
							a.remove(href="#")
								svg
									use(xlink:href='#close')
						.item
							span aamir@airarabia.com
							a.remove(href="#")
								svg
									use(xlink:href='#close')
			.buttons
				button.transparent-btn.js-popup-closer
					| CANCEL
				button.blue-btn
					| UPDATE