.menu-panel.js-menu-panel-parent
	ul.menu-panel__list
		li
			a(href="#" class="js-menu-opener")
				svg
					use(xlink:href='#menu')
		li
			a(href="#")
				svg
					use(xlink:href='#dashboard')
		li
			a(href="#" class="js-menu-opener")
				svg
					use(xlink:href='#document')
		li
			a(href="#")
				svg
					use(xlink:href='#settings')

	.menu-panel__block.js-menu-block
		.menu-panel__block__holder
			h2 Reports
			ul
				li
					a(href="growth.html") Daily Growth
				li
					a(href="evolution.html") Evolution
				li
					a(href="seat-factor.html") Seat Factor by Day
				li
					a(href="seat-factor.html") Seat Factor by Sector
				li
					a(href="seat-factor.html") Seat Factor by Flight
				li
					a(href="rask-by-day.html") R’ASK by Day
				li
					a(href="#") Day View
				li
					a(href="#") Route View
				li
					a(href="#") Sector View
				li
					a(href="#") Sector Growth
				li
					a(href="#") Pax & YLD By Station
				li
					a(href="#") ACT vs BGT
				li
					a(href="ond-file-upload.html") OnD’s
			h3 My Queries
			ul
				li
					a(href="#") My New Report

			.copyright
				svg
					use(xlink:href='#logo-accelaero-big')
				span &copy; 2018 All Rights Reserved