$red = #ee0101;
$white = #fff;
$dark-sky-blue = #4990e2;
$dark-grey-blue = #344252;
$rosy-pink = #f66a6e;
$black = #000;
$charcoal-grey = #4a4a4a;
$blue-grey = #607d8b;

$roboto-regular = 'Roboto Regular', Arial, sans-serif;
$roboto-medium = 'Roboto Medium', Arial, sans-serif;
$roboto-light = 'Roboto Light', Arial, sans-serif;

$desktop = 1260px;
$medium = 768px;
$mobile = 590px;

holder()
	&:after
		display: block
		clear: both
		content: ''

unvisible-input()
	position: absolute
	top: 0
	left: 0
	opacity: 0

checkbox(radius, top-var, width-var, height-var)
	position: absolute
	left: 0
	top: top-var
	width: width-var
	height: height-var
	border-radius: radius
	border: 1px solid $dark-sky-blue

mark(sm-line, lg-line, left-var)
	width: 9px
	height: 4px
	border: solid $white
	border-width: 0 0 sm-line lg-line
	transform: rotate(-45deg)
	position: absolute
	left: left-var
	top: 2px