$red = #ed0000;
$white = #fff;
$dark-sky-blue = #4990e2;
$dark-grey-blue = #344252;
$rosy-pink = #f66a6e;
$black = #000;
$charcoal-grey = #4a4a4a;
$blue-grey = #607d8b;

$roboto-regular = 'Roboto Regular', Arial, sans-serif;
$roboto-medium = 'Roboto Medium', Arial, sans-serif;
$roboto-light = 'Roboto Light', Arial, sans-serif;

$mobiles = 1024px;

